html { background-color: rgb(255, 255, 255); 
} 
body {
    display: flex;
    min-height: 100vh;
    max-width: 400px;
    background-color: papayawhip; 
    
}

img {
    display: block;
    text-align: center;
    width: 40vw;
    height: 100%;
}

* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .form-row {
    float:right;
    width: 100%;
    max-width: 15em;
    margin: 1em auto;
  }
  .form-column {
    float: left;
    width: 100%;
    max-width: 15em;
    margin: 1em auto;
  }
  
  label, input {
    display: block;
    width: 100%;
  }
  
  input {
    padding: 0.5em;
    border: 1px solid #666;
    border-radius: 4px;
  }
  
  button {
    display: block;
    margin: 0 auto;
  }
  
  .help {
    display: none;
    font-size: 0.8em;
    text-align: center;
    margin: 0.2em 0 1em 0;
    color: #c00;
  }
  
  .invalid .help {
    display: block;
  }
  
  .invalid label, .invalid input {
    color: #c00;
    border-color: #c00;
  }

  .container{
      width: 60vw;
  }

  .header{
      margin-bottom: 5px;
      text-align: center;
      font-size: 50px;
      color: rgb(220, 107, 20);
      text-decoration: wavy;
      font-weight: 900;
      font:900;
      
  }
  .taco-tuesday{
      margin: 0 auto;
      padding: 5px;
      text-align: center;
      width: 60vw;
      height: 200px;
      background-color: rgb(248, 248, 242);
      background-size:contain;
      font-size: 20px;
      color: rgb(27, 26, 26);
  }


  .email-reminder{
    padding: 20px;
  }

  .form{
    text-align: center;
    columns: 3;
    margin: 20px auto;
    padding: 15px;
    width: 60vw;
    height: 200px;
    background-color: red;
  }

